{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "bugfixes": true,
        "shippedProposals": true,
        "corejs": { "version": 3, "proposals": true }
      }
    ]
  ]
}
